Node-Red/flow/flows.json
[{"id":"d2bdad0cb9626879","type":"subflow","name":"Room1HandleMeasurements","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"cd2ac7ecd0a617b9","type":"mqtt in","z":"d2bdad0cb9626879","name":"Incoming: room2/temperature","topic":"room2/temperature","qos":"2","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":200,"y":180,"wires":[["b462a363e1ad8aeb","1d70fd6270413eac","b68cddd1e42f079d"]]},{"id":"b462a363e1ad8aeb","type":"ui_chart","z":"d2bdad0cb9626879","name":"","group":"461799f7.600ca8","order":4,"width":8,"height":3,"label":"Temp. Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"genericwidget","x":570,"y":160,"wires":[[]]},{"id":"4c9d70c1e6b37682","type":"mqtt in","z":"d2bdad0cb9626879","name":"Incoming: room2/humidity","topic":"room2/humidity","qos":"1","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":470,"y":400,"wires":[["02c8863a4e5401d0","4bc0a6adafbd4a87"]]},{"id":"02c8863a4e5401d0","type":"ui_gauge","z":"d2bdad0cb9626879","name":"Humidity Gauge","group":"461799f7.600ca8","order":3,"width":7,"height":5,"gtype":"wave","title":"Humidity","label":"% rH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"genericwidget","x":760,"y":440,"wires":[]},{"id":"1d70fd6270413eac","type":"function","z":"d2bdad0cb9626879","name":"If Temp limit is on, check temperature","func":"var minTemp = flow.get(\"room2Min\");\nvar limitsOn = flow.get(\"room2Limits\");\nif(limitsOn===\"true\")\n{\n    if (msg.payload<minTemp)\n    {\n      if(flow.get(\"room2LedStatus\")==\"false\")\n      {\n      var newMsg={payload : \"true\"   };\n      return newMsg;\n      }\n    }\n    \n    if(msg.payload>=minTemp)\n    {\n        if(flow.get(\"room2LedStatus\")==\"true\")\n        {\n            var newMsg1={payload:\"false\"};\n            return newMsg1;\n        }\n    }\n     \n       \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":530,"y":80,"wires":[["882b8ae12a129db0"]]},{"id":"882b8ae12a129db0","type":"switch","z":"d2bdad0cb9626879","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":790,"y":80,"wires":[["c07471b71c222b16"],["c07471b71c222b16"]]},{"id":"c07471b71c222b16","type":"mqtt out","z":"d2bdad0cb9626879","name":"Publish: room2/led/output","topic":"room2/led/output","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6822d41b.92db7c","x":990,"y":80,"wires":[]},{"id":"b68cddd1e42f079d","type":"ui_gauge","z":"d2bdad0cb9626879","name":"Temperature","group":"461799f7.600ca8","order":2,"width":8,"height":5,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#2bff00","#e6e600","#ca3838"],"seg1":"20","seg2":"30","className":"genericwidget","x":590,"y":280,"wires":[]},{"id":"4bc0a6adafbd4a87","type":"ui_chart","z":"d2bdad0cb9626879","name":"","group":"461799f7.600ca8","order":5,"width":7,"height":3,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"genericwidget","x":760,"y":380,"wires":[[]]},{"id":"88b0c4b3e65ab1f4","type":"subflow","name":"Room2","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"1fe6c148b7c4c03a","type":"ui_switch","z":"88b0c4b3e65ab1f4","name":"Room 2 Led","label":"","tooltip":"","group":"461799f7.600ca8","order":9,"width":3,"height":2,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-5x fa-lightbulb-o","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"fa-5x fa-lightbulb-o","offcolor":"White","animate":true,"className":"ledwidget","x":1330,"y":360,"wires":[["b2d6eedcb32688b8"]]},{"id":"b2d6eedcb32688b8","type":"mqtt out","z":"88b0c4b3e65ab1f4","name":"","topic":"room2/led/output","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6822d41b.92db7c","x":1610,"y":360,"wires":[]},{"id":"2b1a284c7be0e511","type":"mqtt in","z":"88b0c4b3e65ab1f4","name":"Incoming: room2/led/status","topic":"room2/led/status","qos":"1","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":430,"y":420,"wires":[["1fe6c148b7c4c03a","acc9f299a071ad04","0b66c62bf3930f2a"]]},{"id":"86a729f5eebf450e","type":"ui_text","z":"88b0c4b3e65ab1f4","group":"461799f7.600ca8","order":1,"width":15,"height":1,"name":"Room2 Status Widget","label":"<font size=50px>Room 2</font>","format":" <font color={{msg.color}} size=50px>{{msg.payload}}</font>","layout":"row-center","className":"labelstyle","x":1460,"y":140,"wires":[]},{"id":"b161c3fc75aa4c5a","type":"mqtt in","z":"88b0c4b3e65ab1f4","name":"Incoming: room2/sensor/status","topic":"room2/sensor/status","qos":"2","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":430,"y":260,"wires":[["3c45e4b1d5776bea","26392f5330e56a1c"]]},{"id":"3c45e4b1d5776bea","type":"function","z":"88b0c4b3e65ab1f4","name":"Convert to the input Room2 Switch Expects","func":"if (msg.payload==\"offline\")\nreturn \"false\";","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":910,"y":300,"wires":[["1fe6c148b7c4c03a"]]},{"id":"56434d49629b9338","type":"ui_switch","z":"88b0c4b3e65ab1f4","name":"Temp Limit Switch","label":"","tooltip":"","group":"461799f7.600ca8","order":10,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"limitsOn","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"textwidget","x":1250,"y":540,"wires":[["3bb13d31997cf37b"]]},{"id":"60dc402970cd6406","type":"change","z":"88b0c4b3e65ab1f4","name":"","rules":[{"t":"set","p":"room2Min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":750,"y":640,"wires":[[]]},{"id":"3bb13d31997cf37b","type":"change","z":"88b0c4b3e65ab1f4","name":"","rules":[{"t":"set","p":"room2Limits","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1560,"y":540,"wires":[[]]},{"id":"acc9f299a071ad04","type":"change","z":"88b0c4b3e65ab1f4","name":"","rules":[{"t":"set","p":"room2LedStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1210,"y":440,"wires":[[]]},{"id":"26392f5330e56a1c","type":"function","z":"88b0c4b3e65ab1f4","name":"Format Status For UI","func":"var newMsg;\nif(msg.payload==\"online\")\n{\n    newMsg={payload : \"Online\" , color:\"green\" };\n}\nelse if(msg.payload==\"offline\")\n{\n    newMsg={payload : \"Offline\" , color:\"red\"};\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1100,"y":140,"wires":[["86a729f5eebf450e"]]},{"id":"0b66c62bf3930f2a","type":"function","z":"88b0c4b3e65ab1f4","name":"If new status is off AND Temp Limit is on, turn temp Limit off","func":"var limitsOn = flow.get(\"room2Limits\");\nif(limitsOn===\"true\")\n{\n    if(msg.payload==\"false\")\n    {\n        return msg;\n    }\n}\n   ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":840,"y":540,"wires":[["56434d49629b9338"]]},{"id":"cd5819986c84793d","type":"ui_template","z":"88b0c4b3e65ab1f4","group":"3d9e45e.bcd50ba","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n.textwidget {\n\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    border-radius:25px;\n    text-size:10px;\n    border-color:white;\n    background: rgb(39,255,0);\n    background: linear-gradient(360deg,  var(--color-gray-primary) 100%, var(--color-gray-secondary) 100%);\n}\n\n.genericwidget{\n    \n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    border-width: 150%;\n    background: white;\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n\n.ledwidget {\n\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    border-radius:200px;\n    border-width: 150%;\n     background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n    \n}\n\n.labelstyle {\n    position: relative;\n    width:100%;\n    height:100%;\n    background: \n    linear-gradient(180deg, var(--color-gray-primary) 0%\n                var(--color-gray-secondary) 100%);\n}\n\n\n/*\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n*/\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n /*\n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n*/\n\n/* \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n */\n\n\n/*\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}\n*/\n\n\n/*\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n*/\n\n\n/*\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n*/\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n*/\n\n\n\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":700,"y":80,"wires":[[]]},{"id":"2de324a080feafe2","type":"ui_text","z":"88b0c4b3e65ab1f4","group":"461799f7.600ca8","order":8,"width":4,"height":2,"name":"led2Label","label":"","format":"<font size=12px color=\"green\">On</font><font size=12px>/</font><font size=12px>Off</font>","layout":"row-left","className":"","x":1340,"y":320,"wires":[]},{"id":"2dc64264c76414c3","type":"ui_text_input","z":"88b0c4b3e65ab1f4","name":"room2limitInput","label":"","tooltip":"","group":"461799f7.600ca8","order":7,"width":3,"height":1,"passthru":true,"mode":"number","delay":"50","topic":"payload","sendOnBlur":true,"className":"textwidget","topicType":"msg","x":480,"y":640,"wires":[["60dc402970cd6406"]]},{"id":"fb05c9b903ae1dbe","type":"ui_text","z":"88b0c4b3e65ab1f4","group":"461799f7.600ca8","order":6,"width":5,"height":1,"name":"room2LimitLabel","label":"","format":"<font size=8px><b>Min °C:</b></font>","layout":"row-left","className":"","x":480,"y":600,"wires":[]},{"id":"76f9e1034fb77f2c","type":"subflow:d2bdad0cb9626879","z":"88b0c4b3e65ab1f4","name":"Handle Measurement Messageses","x":1060,"y":640,"wires":[]},{"id":"461799f7.600ca8","type":"ui_group","name":"Room2 Group","tab":"2fb73a44.583c56","order":3,"disp":false,"width":"15","collapse":false,"className":""},{"id":"4ac8a0e5363574d4","type":"subflow","name":"Room1HandleMeasurements","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"24a6f61b.31598a","type":"mqtt in","z":"4ac8a0e5363574d4","name":"Incoming: room1/temperature","topic":"room1/temperature","qos":"2","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":200,"y":140,"wires":[["44707bd0.1d1f04","94e7ca9b.96b998","a86bf430.5a0608"]]},{"id":"44707bd0.1d1f04","type":"ui_chart","z":"4ac8a0e5363574d4","name":"","group":"665610b6.86798","order":4,"width":8,"height":3,"label":"Temp. Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"genericwidget","x":490,"y":140,"wires":[[]]},{"id":"8ae6358d.d96c28","type":"mqtt in","z":"4ac8a0e5363574d4","name":"Incoming: room1/humidity","topic":"room1/humidity","qos":"1","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":210,"y":280,"wires":[["64751798.6f5448","5c382f7a.99d1a"]]},{"id":"64751798.6f5448","type":"ui_gauge","z":"4ac8a0e5363574d4","name":"Humidity Gauge","group":"665610b6.86798","order":3,"width":7,"height":5,"gtype":"wave","title":"Humidity","label":"% rH","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","className":"genericwidget","x":500,"y":320,"wires":[]},{"id":"94e7ca9b.96b998","type":"function","z":"4ac8a0e5363574d4","name":"If Temp limit is on, check temperature","func":"var minTemp = flow.get(\"room1Min\");\nvar limitsOn = flow.get(\"room1Limits\");\nif(limitsOn===\"true\")\n{\n    if (msg.payload<minTemp)\n    {\n      if(flow.get(\"room1LedStatus\")==\"false\")\n      {\n      var newMsg={payload : \"true\"   };\n      return newMsg;\n      }\n    }\n    \n    if(msg.payload>=minTemp)\n    {\n        if(flow.get(\"room1LedStatus\")==\"true\")\n        {\n            var newMsg1={payload:\"false\"};\n            return newMsg1;\n        }\n    }\n     \n       \n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":490,"y":80,"wires":[["b8d44f04.ddd58"]]},{"id":"b8d44f04.ddd58","type":"switch","z":"4ac8a0e5363574d4","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"true","vt":"str"},{"t":"eq","v":"false","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":730,"y":80,"wires":[["eeef81a5.256bd"],["eeef81a5.256bd"]]},{"id":"eeef81a5.256bd","type":"mqtt out","z":"4ac8a0e5363574d4","name":"Publish: room1/led/output","topic":"room1/led/output","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6822d41b.92db7c","x":950,"y":80,"wires":[]},{"id":"a86bf430.5a0608","type":"ui_gauge","z":"4ac8a0e5363574d4","name":"Temperature","group":"665610b6.86798","order":2,"width":8,"height":5,"gtype":"gage","title":"Temperature","label":"Celsius","format":"{{value}}","min":0,"max":"40","colors":["#2bff00","#e6e600","#ca3838"],"seg1":"20","seg2":"30","className":"genericwidget","x":490,"y":200,"wires":[]},{"id":"5c382f7a.99d1a","type":"ui_chart","z":"4ac8a0e5363574d4","name":"","group":"665610b6.86798","order":5,"width":7,"height":3,"label":"Humidity Chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"2","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"className":"genericwidget","x":500,"y":260,"wires":[[]]},{"id":"6ffe087b81e604cd","type":"subflow","name":"Room1","info":"","category":"","in":[],"out":[],"env":[],"meta":{},"color":"#DDAA99"},{"id":"9ad17d6.220588","type":"ui_switch","z":"6ffe087b81e604cd","name":"Room 1 Led","label":"","tooltip":"","group":"665610b6.86798","order":9,"width":3,"height":2,"passthru":false,"decouple":"true","topic":"","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"fa-5x fa-lightbulb-o","oncolor":"green","offvalue":"false","offvalueType":"str","officon":"fa-5x fa-lightbulb-o","offcolor":"White","animate":true,"className":"ledwidget","x":1250,"y":200,"wires":[["627d7c05.acc3e4"]]},{"id":"627d7c05.acc3e4","type":"mqtt out","z":"6ffe087b81e604cd","name":"Publish: room1/led/output","topic":"room1/led/output","qos":"2","retain":"true","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"6822d41b.92db7c","x":1610,"y":200,"wires":[]},{"id":"73eea1ab.44021","type":"mqtt in","z":"6ffe087b81e604cd","name":"Incoming: room1/led/status","topic":"room1/led/status","qos":"1","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":630,"y":300,"wires":[["9ad17d6.220588","2b1e2c6b.deb534","90fc2c810b864fe6"]]},{"id":"f4d8e2e.334db2","type":"ui_text","z":"6ffe087b81e604cd","group":"665610b6.86798","order":1,"width":15,"height":1,"name":"room1Status","label":"<font size=50px>Room 1</font>","format":" <font color={{msg.color}} size=50px>{{msg.payload}}</font>","layout":"row-center","className":"labelstyle","x":1130,"y":80,"wires":[]},{"id":"b6be3e00.1152c","type":"mqtt in","z":"6ffe087b81e604cd","name":"Incoming: room1/sensor/status","topic":"room1/sensor/status","qos":"2","datatype":"auto","broker":"6822d41b.92db7c","nl":false,"rap":false,"inputs":0,"x":650,"y":140,"wires":[["39c8bfe0.c0f1c","17034274.44783e"]]},{"id":"39c8bfe0.c0f1c","type":"function","z":"6ffe087b81e604cd","name":"","func":"if (msg.payload==\"offline\")\nreturn \"false\";","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1000,"y":160,"wires":[["9ad17d6.220588"]]},{"id":"e5e62239.baf37","type":"ui_switch","z":"6ffe087b81e604cd","name":"Temp Limit Switch","label":"","tooltip":"","group":"665610b6.86798","order":10,"width":8,"height":1,"passthru":true,"decouple":"false","topic":"limitsOn","topicType":"str","style":"","onvalue":"true","onvalueType":"str","onicon":"","oncolor":"","offvalue":"false","offvalueType":"str","officon":"","offcolor":"","animate":true,"className":"textwidget","x":1390,"y":460,"wires":[["d55b9d04.09d91"]]},{"id":"2ee39d63.759e42","type":"change","z":"6ffe087b81e604cd","name":"","rules":[{"t":"set","p":"room1Min","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":460,"wires":[[]]},{"id":"d55b9d04.09d91","type":"change","z":"6ffe087b81e604cd","name":"","rules":[{"t":"set","p":"room1Limits","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1680,"y":460,"wires":[[]]},{"id":"2b1e2c6b.deb534","type":"change","z":"6ffe087b81e604cd","name":"","rules":[{"t":"set","p":"room1LedStatus","pt":"flow","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1570,"y":340,"wires":[[]]},{"id":"17034274.44783e","type":"function","z":"6ffe087b81e604cd","name":"","func":"var newMsg;\nif(msg.payload==\"online\")\n{\n    newMsg={payload : \"Online\" , color:\"green\" };\n}\nelse if(msg.payload==\"offline\")\n{\n    newMsg={payload : \"Offline\" , color:\"red\"};\n}\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":100,"wires":[["f4d8e2e.334db2"]]},{"id":"90fc2c810b864fe6","type":"function","z":"6ffe087b81e604cd","name":"If new status is off AND Temp Limit is on, turn temp Limit off","func":"var limitsOn = flow.get(\"room1Limits\");\nif(limitsOn===\"true\")\n{\n    if(msg.payload==\"false\")\n    {\n        return msg;\n    }\n}\n   ","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1020,"y":460,"wires":[["e5e62239.baf37"]]},{"id":"91fafb21c69bf8a6","type":"ui_template","z":"6ffe087b81e604cd","group":"3d9e45e.bcd50ba","name":"Dashboard stylesheet","order":1,"width":0,"height":0,"format":"<style>\n/*\nIt is reasnoble to declare the colors as CSS variables\nso they can be easily called by name where needed.\n\nYou can see that in many places the variables are not used. Change it!\n*/\n\n\n\n:root {\n  --color-green-primary: rgb(51, 204, 51);\n  --color-green-secondary: rgb(26, 101, 26);\n  --color-red-primary: rgb(255, 0, 0);\n  --color-red-secondary: rgba(153,0,0,1);\n  --color-gray-primary:rgba(40,40,40,1);\n  --color-gray-secondary:rgba(65,65,65,1);\n  --color-text-primary: rgb(230, 226, 209);\n  --color-widget-border: rgb(84, 78, 78);\n}\n\n/*\nAll CSS adjustments are commented out.\nTurn rules on one by one and see the changes.\nDon't use too many elements cos it wil be confusing\nStart with simple elements like text, slider or button\n\nMany of elements like buttons have states, \nthose rules must be found and adjusted also.\n*/\n\n.textwidget {\n\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    border-radius:25px;\n    text-size:10px;\n    border-color:white;\n    background: rgb(39,255,0);\n    background: linear-gradient(360deg,  var(--color-gray-primary) 100%, var(--color-gray-secondary) 100%);\n}\n\n.genericwidget{\n    \n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    border-width: 150%;\n    background: white;\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n\n.ledwidget {\n\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    border-radius:200px;\n    border-width: 150%;\n     background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n    \n}\n\n.labelstyle {\n    position: relative;\n    width:100%;\n    height:100%;\n    background: \n    linear-gradient(180deg, var(--color-gray-primary) 0%\n                var(--color-gray-secondary) 100%);\n}\n\n\n/*\n.masonry-container {\n    position: relative;\n    width: 100%;\n    height:100%;\n    margin: 0 auto;\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg,  var(--color-gray-primary) 0%, var(--color-gray-secondary) 100%);\n}\n*/\n\n\n.nr-dashboard-cardcontainer {\n    position: relative;\n    box-shadow: inset 0px 1px 4px 0px #000000bb;\n    border-radius: 15px;\n}\n\n\n /*\n.nr-dashboard-theme ui-card-panel {\n    background-color: #33333300;\n    color:var(--color-text-primary);\n    border-radius: 15px;\n    box-shadow: 0 0 8px 0px #00000080;\n}\n*/\n\n/* \nbody.nr-dashboard-theme md-content md-card {\n    background-color: #33333300;\n    color: var(--color-text-primary);\n    text-shadow: 4px 2px 4px #00000045;\n    box-shadow: 0 -1px 5px 1px #00000045;\n    border-radius: 12px;\n    border: 1px solid var(--color-widget-border);\n}\n */\n\n\n/*\n.nr-dashboard-theme ui-card-panel p.nr-dashboard-cardtitle {\n    color: var(--color-text-primary);\n}\n*/\n\n\n/*\n.md-button {\n    display: inline-block;\n    position: relative;\n    cursor: pointer;\n    min-height: 36px;\n    min-width: 88px;\n    line-height: 36px;\n    vertical-align: middle;\n    align-items: center;\n    text-align: center;\n    border-radius: 12px;\n    box-sizing: border-box;\n    -webkit-user-select: none;\n    -moz-user-select: none;\n    -ms-user-select: none;\n    user-select: none;\n    outline: none;\n    border: 0;\n    padding: 0 6px;\n    margin: 6px 8px;\n    background: transparent;\n    color:var(--color-text-primary);\n    white-space: nowrap;\n    text-transform: uppercase;\n    font-weight: 500;\n    font-size: 14px;\n    font-style: inherit;\n    font-variant: inherit;\n    font-family: inherit;\n    text-decoration: none;\n    overflow: hidden;\n    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);\n}\n\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button {\n    background-color: #88888800;\n    color:var(--color-text-primary);\n}\n*/\n\n/*\n.nr-dashboard-theme .nr-dashboard-button .md-button:hover {\n    background-color: #88888855;\n}\n*/\n\n\n/*\nmd-slider .md-thumb {\n    z-index: 1;\n    position: absolute;\n    left: -10px;\n    top: 14px;\n    width: 20px;\n    height: 20px;\n    border-radius: 20px;\n    -webkit-transform: scale(.7);\n    transform: scale(.7);\n    transition: all .4s cubic-bezier(.25,.8,.25,1);\n    box-shadow: 0 0 6px #00000070;\n}\n\n*/\n\n/*\nAdvanced stuff - dynamic change of card CSS\n\nClasses here can be used to make colored stripe at the top of card\nUsage is not in here, but they are added to md-card when needed within another template\n\n.carderr {\n    background: rgb(255,0,0);\n    background: linear-gradient(180deg, var(--color-red-primary) 0px, var(--color-red-secondary) 3px, rgba(80,80,80,1) 4px, rgba(45,45,45,1) 100%);\n}\n*/\n\n\n\n\n</style>\n","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"global","className":"","x":260,"y":280,"wires":[[]]},{"id":"56a4fcca5110229c","type":"ui_text","z":"6ffe087b81e604cd","group":"665610b6.86798","order":8,"width":4,"height":2,"name":"led1Label","label":"","format":"<font size=12px color=\"green\">On</font><font size=12px>/</font><font size=12px>Off</font>","layout":"row-left","className":"","x":1260,"y":160,"wires":[]},{"id":"bd398c9d8e0f0361","type":"ui_text_input","z":"6ffe087b81e604cd","name":"room1limitInput","label":"","tooltip":"","group":"665610b6.86798","order":7,"width":3,"height":1,"passthru":true,"mode":"number","delay":"50","topic":"payload","sendOnBlur":true,"className":"textwidget","topicType":"msg","x":260,"y":460,"wires":[["2ee39d63.759e42"]]},{"id":"ba8d746355d5f530","type":"ui_text","z":"6ffe087b81e604cd","group":"665610b6.86798","order":6,"width":5,"height":1,"name":"room1LimitLabel","label":"","format":"<font size=8px><b>Min °C:</b></font>","layout":"row-left","className":"","x":260,"y":240,"wires":[]},{"id":"083c86facf5907d2","type":"subflow:4ac8a0e5363574d4","z":"6ffe087b81e604cd","name":"Handle Measurement MQTT Messages","x":1050,"y":540,"wires":[]},{"id":"665610b6.86798","type":"ui_group","name":"Room1 Group","tab":"2fb73a44.583c56","order":2,"disp":false,"width":"15","collapse":false,"className":""},{"id":"6822d41b.92db7c","type":"mqtt-broker","name":"","broker":"localhost","port":"1883","clientid":"node-red","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"3d9e45e.bcd50ba","type":"ui_group","name":"Radial Gauges","tab":"e625ce36.34cf3","order":2,"disp":true,"width":"6","collapse":false,"className":""},{"id":"2fb73a44.583c56","type":"ui_tab","name":"Dashboard","icon":"dashboard","disabled":true,"hidden":false},{"id":"e625ce36.34cf3","type":"ui_tab","name":"Widgets","icon":"dashboard","order":2,"disabled":false,"hidden":true},{"id":"8f42a8d2.1fcde8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"c009710545b5715d","type":"subflow:6ffe087b81e604cd","z":"8f42a8d2.1fcde8","d":true,"name":"Room1","x":170,"y":200,"wires":[]},{"id":"90def67fce4928f3","type":"subflow:88b0c4b3e65ab1f4","z":"8f42a8d2.1fcde8","d":true,"name":"Room2","x":330,"y":200,"wires":[]}]